body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, input, textarea, 
button, fieldset, img, legend, ul, ol, li, dl, dt, dd, th, td, div, a {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul, li{
    list-style:none;
    margin:0 auto;
    padding:0px;
}
a{
    cursor: pointer;
    text-decoration: none;
}

.container{
    width:951px;
    height:502px;
    margin: 0 auto;
    padding:0px;
    border:1px solid #323033;
    background-color: #f0f5f5;
    overflow: hidden;
}
.top_bar{
    width:100%;
    height:62px;
    margin-bottom:4px;
    padding:1px;
    background:#323033;
}
.logo{
    width:200px;
    height:60px;
    float:left;
}
.logo img{
    margin:0 auto;
    padding:0px;
}
.adv{
    position: relative;
    width:640px;
    height:60px;
    margin-top:1px;
    margin-left:1px;
    float:right;
    overflow:hidden;
}
.adv .adv-ifrm{
    width:470px;
    height:100%;
    float:right;
    overflow:hidden;
}

.main_panel{
    width:951px;
    margin:0 auto;
    padding:0px;
    margin-bottom:4px;
    display:table;
}
.playlist_panel{
    width:303px;
    border:1px solid #323033;
    margin-right:5px;
    float:left;
    display:table;
}
#uarrow, #darrow{
    width:100%;
    height:4px;
    background-color:#323033;
}
#plwrapper{
    width:300px;
    height:376px;
    margin:3px 0px 3px 3px;
    position:relative;
    overflow:hidden;
}
#playlist{
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    height:376px;
    overflow-x:hidden;
    overflow-y:auto;
}
#playlist ul li{
    width:300px;
    height:54px;
    overflow:hidden;
    margin-bottom:3px;
    background-color:#ffffff;
}
#playlist ul li.on{
    background-color: #61a9e1 !important;
}
.item_chk{
    width:25px;
    height:54px;
    float:left;
}
.item_chk input{
    width:15px;
    height:15px;
    margin-top:14px;
}
.item_ctnt{
    width:275px;
    height:54px;
    float:left;
    cursor:pointer;
}
.item_ctnt a{
    width:96px;
    height:54px;
    margin-right:2px;
    padding:0px;
    display:inline-block;
}
.item_ctnt a img{
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0px;
    border:0px;
}
.item_ctnt_desc{
    display:inline-block;
    width:171px;
    height:100%;
    vertical-align:top;
    overflow:hidden;
}
.item_ctnt_desc .item_ctnt_desc_title, .item_ctnt_desc .item_ctnt_desc_singer{
    display:block;
    width:171px;
    margin:0 auto;
    padding:0px;
    vertical-align:middle;
    overflow-y:hidden;
}
.item_ctnt_desc .item_ctnt_desc_title{
    height:36px;
    margin-top:4px;
    font-size:12px;
    color:#333;
}
.item_ctnt_desc .item_ctnt_desc_singer{
    height:16px;
    font-size:11px;
    color:#666;
}

.player_panel{
    width:640px;
    height:390px;
    margin:0 auto;
    padding:0px;
    border:1px solid #323033;
    border-right:0px;
    float:left;
    position:relative;
    overflow:hidden;
}
#pwrapper{
    width:100%;
    height:100%;
    margin:0 auto;
    padding:0px;
    position:relative;
    overflow:hidden;
}
#poverlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background-color:#000000;
    display:none;
}
#html5_video_div{
    width:480px;
    height:360px;
    margin-top:15px;
    margin-left:80px;
    padding:0px;
}
.foot_bar{
    width:100%;
    height:40px;
    background:#323033;
}
#ctl_bar_playlist{
    width:305px;
    height:100%;
    float:left;
    overflow:hidden;
}
#ctl_bar_playlist input{
    width:60px;
    height:18px;
    margin:8px 20px 0px 0px;
    padding:0px;
    border:0px;
    font-size:10px;
}
#ctl_bar_player{
    width:640px;
    height:100%;
    float:right;
    overflow:hidden;
}
#jqxslt_playtype{
    width:100px;
    height:18px;
    margin:8px 20px 0px 0px;
    padding:0px;
    border:0px;
    font-size:10px;
}
